<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>Rule Engine Administration</title>
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/css/fabric.min.css">
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/css/fabric.components.min.css">
    <script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/js/fabric.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngOfficeUiFabric/0.14.0/ngOfficeUiFabric.min.js"></script>


    <script src="script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="ruleApp" ng-controller="ruleCtrl">

    <div>
        <h1 class="ms-font-su">Rule Administration</h1>
        <uif-button ng-click="open()" uif-type="hero">
            <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--Add"></i></span>
            Add Rule
        </uif-button>
        <div ng-show="isOpen">
            <div>
                <uif-textfield uif-label="Name" ng-disabled="editmode" ng-model="newRule.name" value="{{newRule.name}}" />
            </div>
            <div>
                <uif-textfield uif-label="Documentation link" ng-model="newRule.documentationLink" value="{{newRule.documentationLink}}" />
            </div>
            <div>
                <uif-textfield uif-label="Message" ng-model="newRule.message" value="{{newRule.message}}" />
            </div>
            <div>
                <uif-textfield uif-label="Query" ng-model="newRule.query" value="{{newRule.query}}" />
            </div>
            <div>
                <uif-textfield uif-label="Reducer" ng-model="newRule.reducer" value="{{newRule.reducer}}" />
            </div>  <div class="ms-Grid">
                <div class="ms-Grid-row">
                    <div class="ms-Grid-col ms-u-sm6 ms-u-md6 ms-u-lg6">
                        <div class="ms-Label">Groups</div>
                        <div class="ms-CheckBox">
                            <input tabindex="-1" style="position:absolute" value="{{isAllGroupSelected}}" type="checkbox" ng-model="isAllGroupSelected" ng-change="setAllGroupSelected()">
                            <span class="ms-Label">All Groups</span>
                        </div>
                        <div ng-repeat="group in groups">
                            <div class="ms-CheckBox">
                                <input tabindex="-1" style="position:absolute" value="{{group.objectId}}" type="checkbox" ng-model="group.checked" ng-change="changeSelectedList(group)">
                                <span class="ms-Label">{{group.displayName}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="ms-Grid-col ms-u-sm6 ms-u-md6 ms-u-lg6">
                        <div class="ms-Label">Users</div>
                        <div ng-repeat="user in users">
                            <div class="ms-CheckBox">
                                <input tabindex="-1" value="{{user.objectId}}" type="checkbox" ng-model="user.checked" style="position:absolute">
                                <span class="ms-Label">{{user.displayName}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div>
                <uif-button style="float:right" ng-click="cancel()">cancel</uif-button>
                <uif-button uif-type="primary" ng-show="!editmode" style="float:right" ng-click="create(newRule)">create</uif-button>
                <uif-button ng-show="editmode" uif-type="primary" style="float:right" ng-click="edit(newRule)">edit</uif-button>
            </div>
        </div>

        <uif-table ng-show="!editmode">
            <uif-table-head>
                <uif-table-row>
                    <uif-table-header>Name</uif-table-header>
                    <uif-table-header>Link</uif-table-header>
                    <uif-table-header>Message</uif-table-header>
                    <uif-table-header>Query</uif-table-header>
                    <uif-table-header>Reducer</uif-table-header>
                    <uif-table-header></uif-table-header>
                </uif-table-row>
            </uif-table-head>
            <uif-table-body>
                <uif-table-row ng-repeat="r in rules">
                    <uif-table-cell ng-show="!editmode">{{r.name}}</uif-table-cell>
                    <uif-table-cell ng-show="!editmode"><a href="{{r.documentationLink}}">{{r.documentationLink}}</a></uif-table-cell>
                    <uif-table-cell ng-show="!editmode">{{r.message}}</uif-table-cell>
                    <uif-table-cell ng-show="!editmode">{{r.query}}</uif-table-cell>
                    <uif-table-cell ng-show="!editmode">{{r.reducer}}</uif-table-cell>
                    <uif-table-cell ng-show="!editmode">
                        <button ng-click="toEditmode(r)"><i class="ms-Icon ms-Icon--Edit" aria-hidden="true"></i></button>
                        <button ng-click="delete(r)"><i class="ms-Icon ms-Icon--Delete"></i></button>
                    </uif-table-cell>
                </uif-table-row>
            </uif-table-body>
        </uif-table>
    </div>
</body>
</html>
