<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="AzureConnectionString" value=""/>
    <add key="NotificationURI" value="https://dgadoptionbot.azurewebsites.net/api/start"/>
    <add key="TimerJobInterval" value="60000"/> <!--milliseconds-->
  </appSettings>
</configuration>