<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="httpplatformhandler"/>
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform stdoutLogEnabled="true" stdoutLogFile="..\logs\stdout.log" startupTimeLimit="20" processPath="%HOME%\site\wwwroot\bin\DG.O365.Adoption.RulesEngine.exe" arguments="%HTTP_PLATFORM_PORT%"/>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"></customErrors>
  </system.web>
  <appSettings>
    <add key="AzureConnectionString" value=""/>
    <add key="NotificationURI" value="https://dgadoptionbot.azurewebsites.net/api/start"/>
    <add key="TimerJobInterval" value="60000"/>
    <!--milliseconds-->
  </appSettings>
</configuration>