<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="AzureConnectionString" value="DefaultEndpointsProtocol=https;AccountName=daledev;AccountKey=SydK5SvM0oEbp/g7I7x+7ZsdHueSsa4zd7cZQi0gHM7hD64DkHiaeA9qmvu6Fs3BX66th5Jown6hK4cy7leHvw=="/>
    <add key="NotificationURI" value="https://dgadoptionbot.azurewebsites.net/api/start"/>
    <add key="TimerJobInterval" value="60000"/> <!--milliseconds-->
  </appSettings>
</configuration>