<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="AzureWebJobsDashboard" connectionString="" />
    <add name="AzureWebJobsStorage" connectionString="" />
    <add name="SqlConnectionString" connectionString="" />
  </connectionStrings>
  <appSettings>
    <add key="BaseUrl" value="" />
    <add key="RuleEngineConnectionString" value="" />
    <add key="DaleConnectionString" value="" />
    <add key="Tenant" value="" />
    <add key="ClientId" value="" />
    <add key="ClientSecret" value="" />
    <add key="Resource" value="https://graph.windows.net/" />
  </appSettings>
</configuration>