<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="" />
  </connectionStrings>
  <appSettings>
    <add key="SqlConnectionString" value="" />
    <add key="AzureConnectionString" value="" />
    <add key="DaleConnectionString" value="" />
    <add key="NotificationURI" value="https://dgadoptionbot.azurewebsites.net/api/start" />
    <add key="Tenant" value="Delegatedemo01.onmicrosoft.com" />
    <add key="ClientId" value="48a67ac2-3ddd-4921-968a-2e55bf3b3f82" />
    <add key="ClientSecret" value="" />
    <add key="Resource" value="https://graph.windows.net/" />
    <!--milliseconds-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.1.0" newVersion="4.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Data" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
