<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AzureWebJobsDashboard" connectionString="" />
    <add name="AzureWebJobsStorage" connectionString="" />
    <add name="SqlConnectionString" connectionString="" />
  </connectionStrings>
  <appSettings>
    <add key="BaseUrl" value="" />
    <add key="RuleEngineConnectionString" value="" />
    <add key="DaleConnectionString" value="" />
    <add key="Tenant" value="" />
    <add key="ClientId" value="" />
    <add key="ClientSecret" value="" />
    <add key="Resource" value="https://graph.windows.net/" />
  </appSettings>
  <system.webServer>
    <handlers>
      <remove name="httpplatformhandler"/>
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform stdoutLogEnabled="true" stdoutLogFile=".\suave.log" startupTimeLimit="20" processPath="%HOME%\site\wwwroot\bin\DG.O365.Adoption.RulesEngine.exe" arguments="%HTTP_PLATFORM_PORT%"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.1.0" newVersion="4.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Data" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>